/* Put custom styles here. */
.avatar img {
    object-position: center top !important;
}

#send_form {
    margin-top: -1px !important;
    border-radius: 0px !important;
}

#send_form:has(#send_textarea:focus-visible) {
    border-color: transparent !important;
    outline: none !important;
}

#send_textarea {
    overflow: hidden !important;
}

#sheld {
    height: calc(100dvh - var(--topBarBlockSize)) !important;
    max-height: calc(100dvh - var(--topBarBlockSize)) !important;
}

#character_popup, .drawer-content {
    background-color: transparent !important;
    backdrop-filter: blur(calc(var(--SmartThemeBlurStrength)* 2)) !important;
    -webkit-backdrop-filter: blur(calc(var(--SmartThemeBlurStrength)* 2)) !important;
    border-radius: 0 0 10px 10px !important;
    box-shadow: 0px 4px 20px 0px var(--black50a) !important;
}

#left-nav-panel, #right-nav-panel {
    width: calc((100dvw - var(--sheldWidth)) / 2) !important;
    max-height: 100dvh !important;
    height: 100dvh !important;
    border-radius: 0px !important;
}

.lastInContext {
    border-top: 0 !important;
}

#chat {
    margin-top: -1px;
    margin-bottom: -1px;
}

img.expression {
    min-width: unset !important;
}
